h1 {
  font-style: bold;
  font-size: 100px;
  color: blue;
}
h2 {
  font-style: italic;
  font-size: 40px;
  color: #990099
}

.intro {
  font-style: bold;
}

h3 {
  font-style: bold;
  font-size: 30px;
  color: #cc6600
}

img{
  float: left;
}

.one-animal {
  border: 3px solid green;
}

.space {
  line-height: 2;
}
